body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("background11.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#container{
	background-color: #fefefe !important;
	margin: 100 auto 150 auto;
	border: 1px solid #888;
	position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
	width: 500px; /* Could be more or less, depending on screen size */
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
div{
	cursor: pointer;
}
#container{
	opacity:0.9;
}
#container:hover{
	opacity:1;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(100, 221, 96);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
#container1{
	padding: 15px;
  
}


span{
	float:right;
}
#containerH{
	text-align: center !important;
}
.text-muted {
    color: #777;
}
.text-center {
    text-align: center;
}
small{
	line-height: 0;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
#viewG{
  float:right;
  
  
}